<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
</head>
<body>
<h2>게시글 수정</h2>  <!-- 제목을 페이지 내에 표시 -->
<form action="/bbss/eidt" method="POST">
  <div><label for="">게시글ID</label><input type="text" name ="bbsId" id = "bbsId" th:value="${detailForm.bbsId}" readonly></input></div>  <!-- 게시글ID 표시 -->
  <div><label for="">제목</label><input type="text" name="bbsHead" th:text="${detailForm.bbsHead}" id=""></div>
  <div><label for="">작성자</label><input type="text" name ="bbsWriter" th:value="${detailForm.bbsWriter}" readonly></input> </div> <!-- 작성자 표시 -->
  <div><label for="">내용</label><textarea type="text" name ="bbsBody" th:text="${detailForm.bbsBody}"  rows="10" cols="50"></textarea> </div> <!-- 게시글 내용 표시 -->
  <div>
    <button type="submit" id="btnEdit">완료</button>
    <button type="button" id="btnFindAll">목록</button>
  </div>
</form>
<script>
  //목록
  const btnFindAll = document.getElementById('btnFindAll');
  btnFindAll.addEventListener('click',e=>{
    location.href = '/bbss';   // GET http://localhost:9080/bbss
  });

</script>
</body>
</html>